@import "frontend/styles/vars";

._ {
  align-items: center;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked+.slider {
    background-color: $primary;
  }

  input:focus+.slider {
    // box-shadow: 0 0 1px #2196f3;
  }

  input:checked+.slider:before {
    transform: translateX(18px);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 14px;

  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 100%;
    z-index: 4;
  }
}

.label1 {
  margin-right: 9px;
}

.label2 {
  margin-left: 9px;
}

.label1,
.label2 {
  font-size: 12px;
  font-weight: 400;
  color: rgba($color, 0.6);
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }
}

.loader {
  margin-right: 9px;
}