@import "@/frontend/styles/vars";

._hero {
  max-height: 80vh;
  overflow: hidden;
  margin-bottom: 24px;
  border-bottom: 1px solid $border;

  background-color: rgb(22, 23, 24);
  background: radial-gradient(ellipse 90% 100% at 100% 50%, rgba(#6563fa, 0.3), rgba(255, 255, 255, 0)),
    radial-gradient(ellipse 90% 50% at 0% 100%, rgba(#9859d2, 0.1), rgba(255, 255, 255, 0));

  @include mobile {
    max-height: 150vh;
  }
}

.hero {
  display: grid;
  grid-template-columns: 700px 1fr;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  gap: 36px;

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .content {
    padding-top: 64px;

    @include mobile {
      padding-top: 32px;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 120%;

    margin: 0;
    padding: 0;

    i {
      font-style: normal;
    }

    span,
    div {
      font-style: normal;
      color: #fff;
      ;
      background-image: linear-gradient(225deg, rgba(#6363fa, 1) 40%, rgba(#cc53fc, 1));
      background-size: 100%;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    @include mobile {
      font-size: 32px;
      flex-direction: column;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 160%;
    opacity: 0.8;
    font-weight: 400;
    margin: 0;
    padding: 32px 0 0 0;

    @include mobile {
      font-size: 15px;
    }
  }

  .cta {
    padding: 48px 0 24px 0;

    small {
      display: block;
      padding: 9px 0 0 0;
      font-size: 12px;
      color: hsla(180, 7%, 97%, .8);
    }

  }

  .social_proof {
    padding: 36px 0;
  }

}

.feature_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px 64px 24px;
  gap: 72px;
  align-items: center;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 24px 24px 24px 24px;

  }

  .content {
    padding: 12px 0;
  }

  .caption {
    color: #6da5ff;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 3px 0;

    @include mobile {
      font-size: 15px;
    }
  }

  .title {
    font-size: 36px;
    line-height: 120%;
    font-weight: 600;
    margin: 0;

    @include mobile {
      font-size: 32px;
    }
  }

  .text {
    margin: 0;
    padding-top: 18px;
    font-size: 17px;
    line-height: 160%;
    padding-top: 12px;
    opacity: 0.8;

    @include mobile {
      font-size: 16px;
    }
  }

  .cta {
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    display: none;
  }

  ._visual {
    border-radius: 12px;
    border: 1px solid $border;
    display: flex;
    background: rgba($bg, 0.8);
    backdrop-filter: blur(4px);


    img,
    video {
      min-height: 120px;
      width: 100%;
      border-radius: 12px;
    }
  }


  &.reverse {
    .content {
      grid-column: 2;
      grid-row: 1;

      @include mobile {
        grid-column: 1;
      }
    }


  }
}

.features_grid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px 64px 24px;

  .heading {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 24px 0;

    @include mobile {
      font-size: 21px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.feature_card {
  min-width: 200px;
  padding: 42px;
  background: linear-gradient(180deg, rgba(0, 0, 4, 0.1) 0%, rgba(8, 7, 0, 0.3) 100%);
  border-radius: 16px;
  border: 1px solid $border;

  @include mobile {
    padding: 24px;
  }

  .icon {
    height: 40px;
    ;
    color: $accent;

    svg,
    path {
      stroke: $accent;
      stroke-width: 1.5px;
    }
  }

  .title {
    font-size: 19px;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 4px 0;

    @include mobile {
      font-size: 18px;
    }
  }

  .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: rgba($color, 0.6);
    margin: 16px 0 0 0;
    padding: 0;

    @include mobile {
      font-size: 17px;
    }
  }
}

.image_grid_visual {
  margin-top: calc(-12px);

  .grid {
    display: flex;
    margin-left: -12px;
    /* gutter size offset */
    width: auto;
    padding: 0;
    overflow: hidden;

    @include mobile {
      padding: 0px;
      margin-left: -6px;
    }
  }

  .column {
    padding-left: 12px;
    /* gutter size */
    background-clip: padding-box;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      margin-top: 6px;
      border-radius: 6px;

      @include mobile {
        margin-top: 3px;
      }
    }

    &:nth-of-type(2n) {
      margin-top: 32px;
    }

    @include mobile {
      padding-left: 6px;
    }
  }
}


.social_proof {
  margin: 0 auto;
  padding: 24px 24px 64px 24px;




  .title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    padding: 24px 0;

    @include mobile {
      font-size: 21px;
    }
  }

}

._large_cta {
  padding-bottom: 64px;
}

.large_cta {
  background: rgba($bg, 0.8);
  backdrop-filter: blur(4px);
  border: 1px solid $border;
  max-width: 1200px;
  border-radius: 24px;
  margin: 0 auto;
  padding: 48px;
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 0, 4, 0.1) 0%, rgba(8, 7, 0, 0.4) 100%);


  @include mobile {
    padding: 24px;
    margin: 24px;
    ;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 120%;

    margin: 0;
    padding: 0;

    span,
    div {
      color: #fff;
      ;
      background-image: linear-gradient(225deg, rgba(#6363fa, 1) 40%, rgba(#cc53fc, 1));
      background-size: 100%;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    @include mobile {
      font-size: 21px;
    }
  }

  .text {
    font-size: 15px;
    line-height: 160%;
    opacity: 0.8;
    font-weight: 400;
    margin: 0 auto;
    max-width: 600px;
    padding: 12px 0 0 0;


    @include mobile {
      font-size: 14px;
    }
  }


  .cta {
    padding: 24px 0 0px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    small {
      display: block;
      padding: 9px 0 0 0;
      font-size: 12px;
      color: hsla(180, 7%, 97%, .8);
    }

  }

}


.faq {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 64px 0;

  @include mobile {
    padding: 24px;
  }

  .heading {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 24px 0;

    @include mobile {
      font-size: 18px;

    }
  }

  .questions {
    border-bottom: 1px solid $border;
  }

}


.faq_question {
  border-top: 1px solid $border;
  padding: 12px 0;

  @include mobile {
    padding: 12px 0px;
  }

  .question {
    appearance: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;

    font-size: 18px;
    line-height: 140%;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 120ms ease-in-out;
    text-align: left;
    gap: 12px;


    &:hover {
      background: $bg2;
    }

    svg {
      color: $primary;
      flex-shrink: 0;
    }
  }

  .answer {
    padding: 0;
    height: 0px;
    overflow: hidden;
    font-size: 16px;

    @include mobile {
      font-size: 15px;
    }


    &.open {
      height: 100%;
      padding: 0 12px 12px 12px;

    }

    p {
      margin: 12px 0 0 0;
      line-height: 160%;
      color: rgba($color, 0.8);
    }
  }
}