@import "frontend/styles/vars";

.chevron {
  position: absolute;
  right: 9px;
  top: 11px;
  color: rgb(215, 216, 219);
  pointer-events: none;
  stroke-width: 2px;
}

.sm {
  .chevron {
    width: 12px;
    height: 12px;
    top: 9px;
  }
}

.md {
  .chevron {
    top: 12px;
  }
}

.with_label {
  padding: 22px 0 0 0;

  // .chevron {
  //   top: 29px;
  // }

  &.sm .chevron {
    top: 27px;
  }

  &.md .chevron {
    top: 33px;
  }
}

._select {
  transition: 100ms ease-in-out !important;
  cursor: pointer;

  .select {
    display: flex;
    align-items: center;
    padding-right: 18px;
  }

  option {
    background: #fff;
    color: #000;
  }

  &:hover {
    .chevron {
      color: $accent;
    }

    .select {
      background: $bg3;
    }

    option {
      background: $bg3;
      color: $color;
    }
  }
}



._model_select {
  padding: 0 0 0 0;
  margin-bottom: 24px;

  @include mobile {
    padding: 12px 16px;
    margin-bottom: 12px;
  }
}

._controlnet_select {
  padding: 0 0 0 0;
  margin-bottom: 24px;

  @include mobile {
    padding: 12px 0px;
    margin-bottom: 12px;
  }
}

.controlnet_select {
  cursor: pointer;

  &:hover {
    .chevron {
      color: $accent;
    }

    background: $bg3;
    color: $color;

  }
}

.model_search {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  height: 24px;

  span {
    flex-shrink: 0;
  }

  .search {
    margin-top: 18px;

    @include mobile {
      margin-top: 9px;
    }
  }
}

.selected_model {
  position: relative;
  margin: 0;
  padding: 0 0px 3px 1px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 28px;
  cursor: pointer;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  transition: 200ms ease-in-out;
  background: $bg2;
  border-bottom: 1px solid $border;
  color: $color;
  width: 100%;

  .tag {
    font-size: 11px;
    line-height: 11px;
    margin-left: 9px;
    color: rgba($info, 0.9);
    border: 1px solid rgba($info, 0.3);
    border-radius: 3px;
    padding: 3px 4px;
    margin-left: -3px;
  }

  .arrow {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($color, 0.6);
    margin-left: auto;
    flex-shrink: 0;


    svg {
      width: 14px;
      height: 14px;
      margin-top: 1px;
      transition: 120ms ease-in-out;
    }
  }

  img {
    border-radius: 3px;
    border: 1px solid $border;
    background: $bg3;
  }

  &:hover {
    opacity: 0.7;
  }


}



.models_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  overflow: hidden;
  padding: 3px;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include medium {
    grid-template-columns: repeat(4, 1fr);

  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}


.nodes_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  overflow: hidden;
  padding: 3px;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include medium {
    grid-template-columns: repeat(1, 1fr);

  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

._model {
  border: 1px solid $border;
  box-shadow: 0 0 0 1px transparent;
  border-radius: 4px;
  transition: 120ms ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;

  &:hover {
    box-shadow: 0 0 0 1px $border, 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  &.checked {
    border: 1px solid $primary;
    box-shadow: 0 0 0 1px $primary;
    background: rgba($primary, 0.06);
  }

  @include mobile {
    margin: 0px auto;
    max-width: 300px;
  }
}


._node {
  border: 1px solid $border;
  box-shadow: 0 0 0 1px transparent;
  border-radius: 4px;
  transition: 120ms ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;

  &:hover {
    box-shadow: 0 0 0 1px $border, 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  &.checked {
    border: 1px solid $primary;
    box-shadow: 0 0 0 1px $primary;
    background: rgba($primary, 0.06);
  }

  @include mobile {
    margin: 0px auto;
  }
}

.model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model_images {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 100%;
  }
}

.controlnet_images {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}


.model_info {
  padding: 9px;
  color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(12deg, rgba(0, 0, 0, 0.9) 10%, transparent 40%);


  &:hover {
    background: linear-gradient(12deg, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.1) 100%);

    .model_desc {
      display: block;
    }

    .model_author {
      display: flex;
    }

  }

}

.model_name {
  font-size: 15px;
  font-weight: 500;
}

.model_desc {
  display: none;
  font-size: 11px;
  color: rgba($color, 0.9);

  padding-top: 1px;
}

.model_author {
  display: none;
  font-size: 11px;
  line-height: 11px;
  padding-top: 6px;
  text-align: right;
  align-items: center;
  gap: 3px;
  ;

  a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px
  }
}

.model_input {
  opacity: 0;
  position: absolute;
  left: -123213px;

}

.checked_icon {
  position: absolute;
  top: 6px;
  right: 6px;

  background: $primary;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100%;
}