@import 'vars';

body {
  font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 14px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  min-height: 100vh;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: auto;
  background: $bg;
  color: $color;
  position: relative;

  // background-size: 5vw 5vw;
  // background-image: linear-gradient(to right, #f3f3f5 1px, transparent 1px),
  //   linear-gradient(to bottom, #f3f3f5 1px, transparent 1px);

  // background-size: 32px 32px;
  // background-image: radial-gradient(circle, #e3e3e5 1px, rgba(0, 0, 0, 0) 1px);
}

::selection {
  background: rgba($accent, 0.3);
  color: $color;
}

[contenteditable] {
  outline: 0px solid transparent;
}

* {
  box-sizing: border-box;
}

a {
  color: lighten($secondary, 6%);
  font-weight: 500;
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}


.license {
  display: block;
  font-size: 11px;
  font-weight: 400;
  width: 100%;
  color: rgba($color, 0.6);
  padding: 12px 0 12px 0;


  a {
    text-decoration: underline;
  }
}


.login {
  padding: 6px 12px;
}

.login-h {
  font-size: 26px;
  font-weight: 600;
  margin: 0px 0 0  0;

  @include mobile {
    font-size: 21px;
  }
}
.login-p {
  font-size: 14px !important;
  font-weight: 400;
  margin: 2px 0 9px  0;
  color: rgba($color, 0.76) !important;

  a {
    text-decoration: underline;
  }

  @include mobile {
    font-size: 13px !important 
  }
}

.login-foot {
  margin: 18px 0 0 0 ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  gap: 9px;
  color: rgba($color, 0.7);

  svg {
    margin-right: 6px;
    width: 14px;
    height: 14px;
    transform: translateY(2px);
  }

  a:hover {
    text-decoration: underline;
  }
}

.small {
  font-size: 11px;
  padding: 3px 0 0 1px;
  font-weight: 400;
  display: flex;
  width: 100%;
  color: rgba($color, 0.7) !important;
}

.w640 {
  max-width: 640px;
  width: 100%;
}

.h720 {
  min-height: 720px;

  @include mobile {
    min-height: 0;
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;

  @include mobile {
    padding: 24px;
  }
}

.form {
  @include mobile {
    padding: 24px;
  }
}

.section {
  margin-top: 60px;
  margin-botom: 60px;


  @include mobile {
    margin: 30px 0;
  }
  
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0;

  &.center {
    // max-width: 600px;
  }

}

.center {
  text-align: center;
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}
.center-r {
  margin-left: auto;
}

.h1 {
  padding-bottom: 0.13em;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin: 0px 0 24px 0;
  color: #fff;;
  background-image: linear-gradient(to left top, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.7));
  background-size: 100%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

  @include mobile {
    font-size: 28px;
    margin-bottom: 12px;
    line-height: 130%;
  }
}

.h2 {
  font-size: 36px;
  line-height: 120%;
  font-weight: 500;
  color: rgba($color, 1);
  margin-top: 12px;
  margin-bottom: 24px;

  b {
    font-weight: 800;
    color:$color;
  }

  @include mobile {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 12px;
  }
}

.h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
  color: $color;
  margin: 0;
}

.h4 {
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  color: $color;
  padding:  12px 0;
  margin: 0;
}



.p {
  line-height: 160%;
  font-size: 20px;
  color: rgba($color, 0.8);

  @include mobile {
    font-size: 18px;
  }

}

.p1 {
  line-height: 160%;
  font-size: 19px;
  color: rgba($color, 0.8);
  font-weight: 400;
  max-width: 620px;
  margin: 12px auto;

  @include mobile {
    font-size: 14px;
  }

}

.p2 {
  line-height: 160%;
  font-size: 18px;
  color: rgba($color, 0.7);

  @include mobile {
    font-size: 15px;
  }

}

.p3 {
  color: rgba($color, 0.6);
  font-size: 13px;
  margin-top: 0px;
  line-height: 24px;
}

.flex {
  display: flex;
  align-items: center;
}

.f-start {
  align-items: flex-start;
}

.f-column {
  flex-direction: column;
}

.f-column-mobile {
  @include mobile {
    flex-direction: column;
  }
}


.f-center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.p-24 {
  padding: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;


  .grid-line {
    background: $border;
    height: 100%;
    min-height: calc(100vh - 57px);
  }

  @include mobile {
    grid-template-columns: 1fr;
    .grid-line {
      display: none;
    }
  }
}

.gap-border {
  gap: 1px;
  background: $border;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

.grid-v-center {
  align-items: center;
}
.grid-v-center {
  justify-content: center;
}

.gap-sm {
  gap: 9px;
}

.gap {
  gap: 24px;
}
.gap-2 {
  gap: 48px;
}
.gap-3 {
  gap: 72px;
  @include mobile {
    gap: 24px;
  }
}

.grid-3-4 {
  display: grid;
  grid-template-columns: 3fr 4fr;
  
  @include mobile {
    display: block;
  }
}
.grid-4-3 {
  display: grid;
  grid-template-columns: 4fr 3fr;
  
  @include mobile {
    display: block;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  
  @include mobile {
    display: block;
  }
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include mobile {
    display: block;
  }
}

.grid-left,
.grid-right {
  padding: 24px;

  @include mobile {
    padding: 12px;
  }
}

.button-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.no_mobile {
  @include mobile {
    display: none !important;
  }
}

.mobile {
  display: none !important;
  @include mobile {
    display: initial !important;
  }
}

.table-label {
  font-weight: 600;
}


._landing-image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.landing-image {
  width: 1000px;
  height: 680px;
  background: #e3e3e5;
  position: absolute;
  overflow: hidden;
  border-radius: 18px;
  margin-left: 120px;
  box-shadow: 0 9px 24px rgba(0,0,0, 0.09), 0 2px 6px rgba(0,0,0, 0.05);
  &.image-right {
    margin-left: 0;
    margin-right: 120px;
    @include mobile {
      margin: 0;
    }
  }
  &.image-center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .image-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  

  .image-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: 12px;
    }

  }

  @include mobile {
    width: 100%;
    height: 360px;
    margin: 0;
    position: relative;
  }
}


.ol {
  margin: 32px auto 0 auto;
  counter-reset: counter;
  list-style: none;


  li {
    counter-increment: counter;
    position: relative;
    padding-left: 6px;
    margin-bottom: 9px;
    padding-bottom: 12px;

    sup {
      font-size: 10px;
    }

    b {
      font-weight: 600;
    }

    p {
      margin: 12px 0;
      color: rgba($dark, 0.9);
    }

    &:before {
      content: counter(counter);
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      position: absolute;
      --size: 24px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      top: 0px;
      background: rgba($accent, 0.92);
      border-radius: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0px 0px 0 3px rgba($accent, 0.3);
    }
  }

  @include mobile {
    margin: 32px 0;
    padding-left: 36px;
    li:before {
      --size: 26px;
      font-size: 14px;
    }
  }
}
.checklist {
  margin: 32px auto 0 auto;
  list-style: none;

  li {
    position: relative;
    padding-left: 6px;
    margin-bottom: 9px;
    padding-bottom: 12px;
    
    font-size: 18px;
    color: rgba($dark, 0.6);

    b {
      font-weight: 600;
    }

    p {
      margin: 12px 0;
      color: rgba($dark, 0.9);
    }

    &:before {
      content: url("/images/white-check.svg");
      position: absolute;
      --size: 24px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      top: 2px;
      background: rgba($accent, 0.92);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0px 0px 0 3px rgba($accent, 0.3);
    }
  }

  @include mobile {
    margin: 32px 0;
    padding-left: 36px;
    
    li {
      font-size: 15px;
    }
    li:before {
      --size: 21px;
      font-size: 14px;
      top: 0px;
    }
  }
}

.cookies-notification {
  position: fixed;
  bottom: 24px;
  right: 24px;
  max-width: 400px;
  padding: 18px 18px;
  border-radius: 9px;
  background: $bg2;
  z-index: 9999999;
  border: 1px solid $border;
  // box-shadow: 13px 27px -5px rgba(50, 50, 50, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  box-shadow: -6px 12px 6px rgba(0, 0, 0, 0.01), -3px 9px 24px 9px rgba(0, 0, 0, 0.09);
  z-index: 999;
  p {
    color: rgba($color, 0.96);
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px 0;
  }

  @include mobile {
    width: calc(100% - 24px);
    left: 12px;
    bottom: 12px;

    button {
      width: 100%;
    }
  }
}

.faq {
  max-width: 800px;
  padding: 24px;
  margin: 0 auto;

  .h3 {
    font-weight: 500;
    color: rgba($color, 0.9);
    font-size: 19px;

    @include mobile {
      font-size: 17px;
    }
  }

  .p3 {
    font-size: 16px;
    color: rgba($color, 0.6);
    line-height: 160%;
    margin-top: 12px;

    b {
      font-weight: 500;
      color:rgba($color, 0.9);
    }

    @include mobile {
      font-size: 14px;
    }
  }

  a {
    text-decoration: underline;
  }
}


.recharts-surface {
  overflow: overlay;
}

.recharts-tooltip-cursor {
  stroke: rgba($border, 0.8);
  fill: rgba($border, 0.5);
}

// .recharts-default-legend {
//   padding: 0 0 12px 0 !important;
// }

.recharts-legend-item {
  display: inline-flex !important;
  align-items: center;
  margin-right: 12px !important;

  svg {
    border-radius: 2px;
  }
}

.recharts-legend-item-text {
  font-size: 13px;
  line-height: 100%;
  font-weight: 400;
  margin-left: 3px;
}

.recharts-cartesian-axis-tick-line {
  stroke: rgba($dark-font, 0.3);
}

.recharts-yAxis {
  user-select: none;
  transform: translateY(-12px);
  .recharts-cartesian-axis-tick-value {
    tspan {
      fill: $dark-font;
      opacity: 0.9;
      text-shadow: 0 0 3px white;
    }
  }
}

.recharts-xAxis {
  user-select: none;

  .recharts-cartesian-axis-tick-line,
  .recharts-cartesian-axis-line {
    stroke: $input-border;
    stroke-width: 1px;
  }

  .recharts-cartesian-axis-tick-value {
    tspan {
      fill: rgba($dark-font, 0.8);
    }
  }
}


.rotate90 {
  transform: rotate(90deg);
}


#google-login {
  min-height: 40px;
}


.rc-slider-handle-dragging {

  box-shadow: 0 0  0 4px rgba($primary, 0.2) !important;
}